PORT=3000
DB_HOST=localhost
DB_PORT=9200
DB_NAME=db
DB_USERNAME=user
DB_PASSWORD=12345
DB_SYNCHRONIZE=true
DB_LOGGING=true
DB_POOL_SIZE=10
DB_MAX_QUERY_EXECUTION_TIME=1000
JWT_EXPIRES_IN=30
JWT_SECRET=ej1FcURCwek4usJDZPDm9ZeSyAO3S
RECAPTCHA_SECRET_KEY_PRIVATE=6LdimJIpAAAAAPXWwcv0IpW8_l-wZqYz6-Im7tv1
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=todovale